In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from glob import glob
import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# datapath='/content/drive/MyDrive/AI Consulting/ARTHAN/datasets'
datapath="/content/drive/MyDrive/ARTHAN/datasets"
datasets_addresses=glob(os.path.join(datapath,'*.csv'))
datasets_addresses

['/content/drive/MyDrive/ARTHAN/datasets/datasetsloan_od_products.csv',
 '/content/drive/MyDrive/ARTHAN/datasets/datasetsbranches.csv',
 '/content/drive/MyDrive/ARTHAN/datasets/datasetscustomers.csv',
 '/content/drive/MyDrive/ARTHAN/datasets/datasetscustomer_limits.csv',
 '/content/drive/MyDrive/ARTHAN/datasets/datasetsaccount_balances.csv',
 '/content/drive/MyDrive/ARTHAN/datasets/datasetsaccount_profiles.csv',
 '/content/drive/MyDrive/ARTHAN/datasets/datasetsaccount_holders.csv',
 '/content/drive/MyDrive/ARTHAN/datasets/datasetsloan_od_disbursements.csv',
 '/content/drive/MyDrive/ARTHAN/datasets/datasetsloan_od_working_registers.csv',
 '/content/drive/MyDrive/ARTHAN/datasets/datasetsloan_od_repayments.csv',
 '/content/drive/MyDrive/ARTHAN/datasets/datasetsloan_od_write_offs.csv',
 '/content/drive/MyDrive/ARTHAN/datasets/datasetsfees.csv',
 '/content/drive/MyDrive/ARTHAN/datasets/datasetsfee_payments.csv',
 '/content/drive/MyDrive/ARTHAN/datasets/datasetsgeneral_transactions.csv',
 '/content/drive/MyDrive/ARTHAN/datasets/datasetsloan_od_demands.csv',
 '/content/drive/MyDrive/ARTHAN/datasets/datasetsloan_od_associates.csv',
 '/content/drive/MyDrive/ARTHAN/datasets/datasetsloan_od_account_view.csv',
 '/content/drive/MyDrive/ARTHAN/datasets/datasetsloan_od_fulfillments.csv',
 '/content/drive/MyDrive/ARTHAN/datasets/datasetsloan_od_repayment_schedule_items.csv',
 '/content/drive/MyDrive/ARTHAN/datasets/datasetsloan_od_profiles.csv']

In [ ]:
products=pd.read_csv(f'{datapath}/datasetsloan_od_products.csv')
ap=pd.read_csv(f'{datapath}/datasetsaccount_profiles.csv')
branches=pd.read_csv(f'{datapath}/datasetsbranches.csv')
branches=branches[['BRANCH_CODE','BRANCH_NAME','IS_HQ']]
ap2=pd.merge(ap,branches,on=['BRANCH_CODE'],how='left')[['ACCOUNT_ID','BRANCH_CODE','PRODUCT_TYPE','PRODUCT_CODE','BRANCH_NAME','IS_HQ']]
lof=pd.read_csv(f'{datapath}/datasetsloan_od_fulfillments.csv')
lor=pd.read_csv(f'{datapath}/datasetsloan_od_repayments.csv')

cols_imp=['ACCOUNT_ID', 'REPAYMENT_NUM',
       'REPAYMENT_TYPE', 'AMOUNT_MAGNITUDE','BALANCE_MAGNITUDE','PRINCIPAL_MAGNITUDE','NORMAL_INTEREST_MAGNITUDE',
       'PENAL_INTEREST_MAGNITUDE',
       'PRINCIPAL_ADJUSTMENT_MAGNITUDE',
       'NORMAL_INTEREST_ADJUSTMENT_MAGNITUDE',
       'PENAL_INTEREST_ADJUSTMENT_MAGNITUDE',
       'NORMAL_INTEREST_WAIVER_MAGNITUDE',
       'PENAL_INTEREST_WAIVER_MAGNITUDE',
       'INTEREST_TDS_MAGNITUDE',
       'NORMAL_INTEREST_TDS_MAGNITUDE', 
       'PENAL_INTEREST_TDS_MAGNITUDE', 
       'LAST_SATISFIED_DEMAND_NUM', 'TRANSACTION_ID', 'VALUE_DATE',
       'TRANSACTION_DATE', 'INSTRUMENT', 'OLD_DPD', 'DPD', 'USER_ID']
lor2=lor[cols_imp]
merged=pd.merge(lor2,ap2,on=['ACCOUNT_ID'],how='left')
merged=merged.fillna('Blank')
merged['IS_HQ']=merged['IS_HQ'].astype('str')
merged['TRANSACTION_DATE']=pd.to_datetime(merged['TRANSACTION_DATE'])
merged['VALUE_DATE']=pd.to_datetime(merged['VALUE_DATE'])
merged['Default']=(merged['TRANSACTION_DATE']-merged['VALUE_DATE']).dt.days>1
merged

<ipython-input-4-edba7070474f>:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  ap=pd.read_csv(f'{datapath}/datasetsaccount_profiles.csv')
<ipython-input-4-edba7070474f>:7: DtypeWarning: Columns (53) have mixed types. Specify dtype option on import or set low_memory=False.
  lor=pd.read_csv(f'{datapath}/datasetsloan_od_repayments.csv')

,ACCOUNT_ID,REPAYMENT_NUM,REPAYMENT_TYPE,AMOUNT_MAGNITUDE,BALANCE_MAGNITUDE,PRINCIPAL_MAGNITUDE,NORMAL_INTEREST_MAGNITUDE,PENAL_INTEREST_MAGNITUDE,PRINCIPAL_ADJUSTMENT_MAGNITUDE,NORMAL_INTEREST_ADJUSTMENT_MAGNITUDE,...,INSTRUMENT,OLD_DPD,DPD,USER_ID,BRANCH_CODE,PRODUCT_TYPE,PRODUCT_CODE,BRANCH_NAME,IS_HQ,Default
0,101000000030,1,0,1311.0,400000.00,0.00,1311.00,0.0,0.0,0.0,...,1,0,0,Admin,Blank,Blank,Blank,Blank,Blank,True
1,201000000002,1,0,4603.0,700000.00,0.00,4603.00,0.0,0.0,0.0,...,1,0,0,Admin,Blank,Blank,Blank,Blank,Blank,True
2,101000000001,1,0,2055.0,500000.00,0.00,2055.00,0.0,0.0,0.0,...,1,0,0,Admin,Blank,Blank,Blank,Blank,Blank,True
3,201000000030,1,0,984.0,300000.00,0.00,984.00,0.0,0.0,0.0,...,1,0,0,Admin,Blank,Blank,Blank,Blank,Blank,True
4,101000000030,2,0,13041.0,395090.00,4910.00,8131.00,0.0,0.0,0.0,...,3,0,0,Admin,Blank,Blank,Blank,Blank,Blank,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763976,30160400513,70,0,830.0,2436.66,823.04,6.96,0.0,0.0,0.0,...,15,0,0,AutoRepayOnDemand,301,Loans,604,RO Odisha - Bhubaneswar,0.0,False
763977,30160400528,69,0,207.0,671.07,205.12,1.88,0.0,0.0,0.0,...,15,0,0,AutoRepayOnDemand,301,Loans,604,RO Odisha - Bhubaneswar,0.0,False
763978,30160400545,55,0,1382.0,4208.94,1370.08,11.92,0.0,0.0,0.0,...,15,0,0,AutoRepayOnDemand,301,Loans,604,RO Odisha - Bhubaneswar,0.0,False
763979,30160400547,56,0,99.0,19875.83,56.40,42.60,0.0,0.0,0.0,...,15,0,0,AutoRepayOnDemand,301,Loans,604,RO Odisha - Bhubaneswar,0.0,False
763980,30160400549,43,0,138.0,463.93,136.72,1.28,0.0,0.0,0.0,...,15,0,0,AutoRepayOnDemand,301,Loans,604,RO Odisha - Bhubaneswar,0.0,False

In [ ]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 763981 entries, 0 to 763980
Data columns (total 30 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   ACCOUNT_ID                            763981 non-null  int64
 1   REPAYMENT_NUM                         763981 non-null  int64
 2   REPAYMENT_TYPE                        763981 non-null  int64
 3   AMOUNT_MAGNITUDE                      763981 non-null  float64
 4   BALANCE_MAGNITUDE                     763981 non-null  float64
 5   PRINCIPAL_MAGNITUDE                   763981 non-null  float64
 6   NORMAL_INTEREST_MAGNITUDE             763981 non-null  float64
 7   PENAL_INTEREST_MAGNITUDE              763981 non-null  float64
 8   PRINCIPAL_ADJUSTMENT_MAGNITUDE        763981 non-null  float64
 9   NORMAL_INTEREST_ADJUSTMENT_MAGNITUDE  763981 non-null  float64
 10  PENAL_INTEREST_ADJUSTMENT_MAGNITUDE   763981 non-null  float64
 11  NORMAL_INTEREST_WAIVER_MAGNITUDE      763981 non-null  float64
 12  PENAL_INTEREST_WAIVER_MAGNITUDE       763981 non-null  float64
 13  INTEREST_TDS_MAGNITUDE                763981 non-null  float64
 14  NORMAL_INTEREST_TDS_MAGNITUDE         763981 non-null  float64
 15  PENAL_INTEREST_TDS_MAGNITUDE          763981 non-null  float64
 16  LAST_SATISFIED_DEMAND_NUM             763981 non-null  int64
 17  TRANSACTION_ID                        763981 non-null  object
 18  VALUE_DATE                            763981 non-null  datetime64[ns]
 19  TRANSACTION_DATE                      763981 non-null  datetime64[ns]
 20  INSTRUMENT                            763981 non-null  int64
 21  OLD_DPD                               763981 non-null  int64
 22  DPD                                   763981 non-null  int64
 23  USER_ID                               763981 non-null  object
 24  BRANCH_CODE                           763981 non-null  object
 25  PRODUCT_TYPE                          763981 non-null  object
 26  PRODUCT_CODE                          763981 non-null  object
 27  BRANCH_NAME                           763981 non-null  object
 28  IS_HQ                                 763981 non-null  object
 29  Default                               763981 non-null  bool
dtypes: bool(1), datetime64[ns](2), float64(13), int64(7), object(7)
memory usage: 175.6+ MB

In [ ]:
# merged.to_csv('/content/drive/MyDrive/AI Consulting/ARTHAN/datasets_updated' + "/Data_ready.csv")

In [ ]:
!pip3 install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting category_encoders
  Downloading category_encoders-2.6.0-py2.py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.2/81.2 KB 7.2 MB/s eta 0:00:00
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (0.13.5)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.4.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.2.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.22.4)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.10.1)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.9/dist-packages (from statsmodels>=0.9.0->category_encoders) (23.0)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.0

In [ ]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split
from category_encoders import CatBoostEncoder
import pandas as pd

import numpy as np
from tensorflow.keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split
from category_encoders import CatBoostEncoder

In [ ]:
# pip install keras

In [ ]:
# pd.set_option('display.max_columns', None)
# merged.drop("Unnamed: 0", axis=1, inplace=True)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: keras in /usr/local/lib/python3.9/dist-packages (2.12.0)

#TRAINING PIPELINE

In [ ]:
# MY NEW DATA PREPARATION BASED ON ACCOUNT ID

import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from category_encoders import CatBoostEncoder
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
from tensorflow.keras.utils import to_categorical

data = merged.copy()

cat_features = ['TRANSACTION_ID', 'USER_ID', 'BRANCH_CODE', 'PRODUCT_TYPE', 'PRODUCT_CODE', 'BRANCH_NAME', 'IS_HQ']
encoder = CatBoostEncoder(cols=cat_features)
y = y = data['Default']
encoder.fit(data, y)
data = encoder.transform(data)

# Convert dates to ordinal values
reference_date = pd.Timestamp('2000-01-01')
data['VALUE_DATE'] = (pd.to_datetime(data['VALUE_DATE']) - reference_date).dt.days
data['TRANSACTION_DATE'] = (pd.to_datetime(data['TRANSACTION_DATE']) - reference_date).dt.days

# Your data preparation steps remain the same until you get the unique_account_ids
input_timesteps = 5
output_timestep = 1
# Get the unique account IDs
unique_account_ids = data['ACCOUNT_ID'].unique()

sequence_lengths = data.groupby('ACCOUNT_ID').size()
mask_less_than_5 = sequence_lengths[sequence_lengths < 5].index
mask_greater_than_equal_5 = sequence_lengths[sequence_lengths >= 5].index

# Split the account IDs into train and test sets
train_account_ids, test_account_ids = train_test_split(unique_account_ids, test_size=0.20, random_state=42)

# Create train and test datasets based on the account IDs
train_data = data[data['ACCOUNT_ID'].isin(train_account_ids)]
test_data = data[data['ACCOUNT_ID'].isin(test_account_ids)]

# Padding and scaling for train and test datasets
def pad_scale_data(data, account_ids, mask_less_than_5):
    padded_data = []
    
    for account_id in account_ids:
        account_data = data[data['ACCOUNT_ID'] == account_id].values
        
        if account_id in mask_less_than_5:
            padded_account_data = pad_sequences([account_data], maxlen=5, dtype='float32', padding='post')[0]
        else:
            padded_account_data = account_data
        
        padded_data.append(padded_account_data)

    return np.array(padded_data)

train_padded_data = pad_scale_data(train_data, train_account_ids, mask_less_than_5)
test_padded_data = pad_scale_data(test_data, test_account_ids, mask_less_than_5)

# Prepare input and output data for train and test datasets
def prepare_xy(padded_data):
    x = []
    y = []

    for sequence in padded_data:
        for i in range(len(sequence) - input_timesteps - output_timestep + 1):
            x.append(sequence[i:i + input_timesteps, :-1])
            y.append(sequence[i + input_timesteps, -1])

    return np.array(x), np.array(y)

X_train, y_train = prepare_xy(train_padded_data)
X_test, y_test = prepare_xy(test_padded_data)

<ipython-input-9-5706e7847357>:58: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return np.array(padded_data)

In [ ]:
# Flatten the time steps
X_train_flattened = X_train.reshape(X_train.shape[0], -1)
X_test_flattened = X_test.reshape(X_test.shape[0], -1)

# Train a different model, e.g., XGBoost
import xgboost as xgb

# Calculate the ratio of negative class (0) to positive class (1)
neg_count = np.sum(y_train == 0)
pos_count = np.sum(y_train == 1)
ratio = neg_count / pos_count


model = xgb.XGBClassifier(scale_pos_weight=ratio, n_jobs=-1)
model.fit(X_train_flattened, y_train)

# Make predictions
y_pred = model.predict(X_test_flattened)

In [ ]:
len(x_test)

In [ ]:
len(X_test_flattened)

128786

In [ ]:
len(y_pred)

128786

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

y_pred = model.predict(X_train_flattened)

y_pred_proba = model.predict_proba(X_test_flattened)

accuracy = accuracy_score(y_train, y_pred)
precision = precision_score(y_train, y_pred)
recall = recall_score(y_train, y_pred)
f1 = f1_score(y_train, y_pred)
# auc = roc_auc_score(y_test, np.argmax(y_pred_proba))

print("Accuracy: ", accuracy)
print("Precision: ", precision)
print("Recall: ", recall)
print("F1-score: ", f1)
# print("AUC: ", auc)

Accuracy:  0.9652092884857074
Precision:  0.7819657911143639
Recall:  0.9716234422364433
F1-score:  0.8665385019750379

In [ ]:
200 defaults

In [ ]:
300 defaults- 194 were actual defaults--> recall 97% 194/200

194/300

In [ ]:
model.predict(X_test_flattened[100:400])

In [ ]:
X_train_flattened.shape

(510826, 145)

In [ ]:
X_train.shape

(510826, 5, 29)

In [ ]:
len(np.where(y_pred==0)[0])

110073

In [ ]:
import numpy as np
from sklearn.metrics import accuracy_score

# Assuming you have the probability_predictions from the previous example
# and the true labels in y_test

# Initialize variables to store the best threshold and the corresponding best accuracy
best_threshold = 0.5
best_accuracy = 0.0

probability_predictions = model.predict(X_test)

# Iterate over a range of threshold values
thresholds = np.linspace(0, 1, num=101)  # Adjust the number of threshold values if needed
for threshold in thresholds:
    # Apply the threshold to the probability predictions
    class_predictions = (probability_predictions > threshold).astype(int)

    # Calculate the accuracy for the current threshold
    accuracy = accuracy_score(y_test, class_predictions)

    # Update the best threshold and best accuracy if the current accuracy is better
    if accuracy > best_accuracy:
        best_accuracy = accuracy
        best_threshold = threshold

# Print the best threshold and the corresponding best accuracy
print("Best Threshold: {:.2f}".format(best_threshold))
print("Best Accuracy: {:.2f}".format(best_accuracy))

In [ ]:
import numpy as np
from sklearn.metrics import f1_score

# Assuming you have the probability_predictions from the previous example
# and the true labels in y_test

# Initialize variables to store the best threshold and the corresponding best F1-score
best_threshold = 0.5
best_f1_score = 0.0

# probability_predictions = model.predict(X_train)

# Iterate over a range of threshold values
thresholds = np.linspace(0, 1, num=101)  # Adjust the number of threshold values if needed
for threshold in thresholds:
    # Apply the threshold to the probability predictions
    class_predictions = (probability_predictions > threshold).astype(int)

    # Calculate the F1-score for the current threshold
    # f1 = f1_score(y_train, class_predictions)
    f1 = len

    # Update the best threshold and best F1-score if the current F1-score is better
    if f1 > best_f1_score:
        best_f1_score = f1
        best_threshold = threshold

# Print the best threshold and the corresponding best F1-score
print("Best Threshold: {:.2f}".format(best_threshold))
print("Best F1-score: {:.2f}".format(best_f1_score))

Best Threshold: 0.00
Best F1-score: 0.11

In [ ]:
probability_predictions[:1]

array([[0.05806125]], dtype=float32)

In [ ]:
# len(np.where(probability_predictions == 0.05806125)[0])

In [ ]:
# len(y_test==0)
y_test[100:110]

In [ ]:
predictions = model.predict(X_test)

7996/7996 [==============================] - 25s 3ms/step

In [ ]:
len(predictions>0.5)

255845

In [ ]:
for i in range(len(predictions)):
  if predictions[i][0] >= 0.07199801:
    print(predictions[i][0])

In [ ]:
pred = list(predictions)

In [ ]:
res = {}
for i in range(len(pred)):
  if not res.get(np.argmax(pred[i])):
    res[np.argmax(pred[i])] = 1
  else:
    res[np.argmax(pred[i])] += 1

In [ ]:
res

{0: 5}

#INFERENCE PIPELINE

In [ ]:
mimport numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.preprocessing.sequence import pad_sequences
from category_encoders import CatBoostEncoder
from tensorflow.keras.models import load_model

model = load_model('/content/drive/MyDrive/ARTHAN/my_model.h5')

def preprocess_data(data, cat_features, columns_to_scale, encoder, scaler):
    # Encode categorical features
    data = encoder.transform(data)

    # Convert dates to ordinal values
    reference_date = pd.Timestamp('2000-01-01')
    data['VALUE_DATE'] = (pd.to_datetime(data['VALUE_DATE']) - reference_date).dt.days
    data['TRANSACTION_DATE'] = (pd.to_datetime(data['TRANSACTION_DATE']) - reference_date).dt.days

    # Scale numerical features
    scaled_data = data.copy()
    scaled_data[columns_to_scale] = scaler.transform(scaled_data[columns_to_scale])

    return scaled_data


def prepare_input_sequences(data, unique_account_ids, maxlen=5):
    padded_data = []
    for account_id in unique_account_ids:
        account_data = data[data['ACCOUNT_ID'] == account_id].values
        
        if len(account_data) < maxlen:
            padded_account_data = pad_sequences([account_data], maxlen=maxlen, dtype='float32', padding='post')[0]
        else:
            padded_account_data = account_data
        
        padded_data.append(padded_account_data)

    return np.array(padded_data)

def predict_default(account_id, data, cat_features, columns_to_scale, encoder, scaler, model):
    # Filter data by account_id
    account_data = data[data['ACCOUNT_ID'] == account_id]

    # Preprocess the account data
    preprocessed_data = preprocess_data(account_data, cat_features, columns_to_scale, encoder, scaler)

    # Pad the sequence if it has less than 5 entries
    account_sequence = preprocessed_data.values
    if len(account_sequence) < 5:
        account_sequence = pad_sequences([account_sequence], maxlen=5, dtype='float32', padding='post')[0]

    # Prepare the input data for the model by selecting the last 5 timesteps
    input_data = account_sequence[-5:, :-1]

    # Add an extra dimension to match the model's input shape (batch_size, timesteps, features)
    # Add an extra dimension to match the model's input shape (batch_size, timesteps, features)
    input_data = np.expand_dims(input_data, axis=0).astype('float32')


    # Make a prediction using the model
    prediction = model.predict(input_data)

    # Return the class with the highest probability
    return np.argmax(prediction)

account_id = 30160400547
prediction = predict_default(account_id, data, cat_features, columns_to_scale, encoder, scaler, model)
print(f"The predicted default status for account ID {account_id} is: {prediction}")

1/1 [==============================] - 1s 564ms/step
The predicted default status for account ID 30160400547 is: 0